@charset "UTF-8";
@import url(index.css);
@mixin full($h:100%){
	width:100%;
	height:$h;
	overflow:hidden;
}
@mixin flex($f:row){
	display:-webkit-flex;
	display:-o-flex;
	display:-moz-flex;
	-webkit-flex-direction:$f;
	-moz-flex-direction:$f;
	-o-flex-direction:$f;
}
input,select,textarea,button{
	-webkit-appearance:none;
	-moz-appearance:none;
	-o-appearance:none;
}
*,*:after,*:before{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
}
@mixin pos($val:relative){
	position:$val;
}
@mixin aa($w:33px,$h:33px,$url:"fan.png",$top:-16px){
			width:$w;
			height:$h;
			background-image:url("../images/"+$url);
			background-repeat:no-repeat;
			background-size:contain;
			font-size:0;
			top:50%;
			margin-top:$top;
}
html{
	font-size:100px;
}
html,body,.container{
	@include full;
}
a{
	text-decoration:none;
}
.container{
	@include flex(column);
	@include pos;
	overflow:hidden;
}
.header{
	width:100%;
	height:0.45rem;
	background:#f6f6f7;
	@include pos;
	line-height:0.45rem;
	a{
		@include pos(absolute);
		width:0.21rem;
		height:0.18rem;
		&:nth-child(3){
			@include aa(0.21rem,0.18rem,-0.09rem);
			left:0.17rem;
		}
		&:nth-child(3){
			@include aa(0.21rem,0.18rem,"2faxianfirstdianji_03.png",-0.09rem);
			left:90%;
			z-index:12;
		}
	}
	h4{
		width:60%;
		line-height:0.45rem;
		font-size:0.15rem;
		margin:0 auto;
		text-align:center;
		@include flex;
		span{
			display:block;
			width:50%;
			text-align:center;
			//padding-left:0.7rem;
			line-height:0.45rem;
		}
	}
}
.footer{
	width:100%;
	height:0.5rem;
	background:#e2e2e3;
	
	text-align:center;
	a{
		display:block;
		width:20%;
		height:0.45rem;
		float:left;
	}
	dl{
		dt{
			padding-top:0.05rem;
			img{
				width:0.2rem;
				height:0.2rem;
			}
		}
		dd{
			color:#909090;
			font-size:0.11rem;
		}
	}
}
.bgred{
	color:#e82843;
}

.main{
	-webkit-flex-grow:1;
	-moz-flex-grow:1;
	-o-flex-grow:1;
	overflow:hidden;
	width:100%;
	position:relative;
	a{
		display:block;
		width:100%;
		height:auto;
		text-align:center;
		border:1px solid #ccc;
		border-left:none;
		border-right:none;
		border-top:none;
		dl{
			dt{	
				padding:0.1rem;
				img{
					width:auto;
					height:0.72rem;
				}
			}
			dd{
				p{
					line-height:20px;
					font-size:0.15rem;
				}
			}
		}
	}
}

.left{
	width:50%;
	height:100%;
	border:1px solid #ccc;
	
	.pp{
		width:100%;
		height:0.5rem;
		line-height:0.5rem;
		text-align:center;
		border-bottom:1px solid #ccc;
	}
}
.right{
	width:50%;
	height:100%;
	border:1px solid #ccc;
	border-left:none;
}
.contain{
	width:100%;
	height:100%;
	@include flex;
	//overflow:hidden;
}