@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

input, select, textarea, button {
  -webkit-appearance: none; }

body {
  font-size: 14px;
  font-family: "Microsoft YaHei"; }

*, *:after, *:before {
  -webkit-box-sizing: border-box; }

html {
  font-size: 100px; }

html, body, .container {
  width: 100%;
  height: 100%;
  overflow: hidden; }

a {
  text-decoration: none; }

/*.main{
		width:100%;
		overflow:hidden;
		-webkit-flex-grow:1;
		background:#ffc;
		@include pos;
		section{
			@include pos(absolute);
			width:100%;
			height:100%;
			-webkit-flex-basis:100%;
			-webkit-transform:translate3d(100%,0,0);
		}

	}*/
.container {
  display: -webkit-flex;
  -webkit-flex-direction: column; }

.header {
  width: 100%;
  height: 0.5rem;
  position: relative;
  background: #f5f5f5; }
  .header h2 {
    text-align: center;
    line-height: 0.5rem;
    font-size: 0.20rem; }
  .header a {
    position: absolute;
    width: 0.12rem;
    height: 0.21rem;
    background-image: url("../images/tuhao-5_06.png");
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 0;
    top: 50%;
    margin-top: -0.1rem;
    left: 0.13rem; }

/*------------------土豪榜------------------*/
.main {
  -webkit-flex-grow: 1;
  width: 100%;
  background: url(../images/tuhao-bg_02.png) no-repeat;
  background-size: 100% 100%; }
  .main ul {
    width: 2.9rem;
    height: 3.5rem;
    background: #fff;
    border-radius: 10px;
    margin: 0rem auto;
    margin-top: 0.7rem; }
    .main ul li {
      width: 100%;
      height: 0.35rem;
      line-height: 0.4rem;
      border-bottom: 1px solid #dddddd;
      display: -webkit-flex;
      -webkit-flex-direction: row; }
      .main ul li i {
        display: block;
        width: 0.21rem;
        height: 0.18rem;
        background: url(../images/tuhao-2_03.png) no-repeat;
        background-size: 100% auto;
        margin-top: 0.10rem;
        margin-left: 0.09rem; }
      .main ul li span {
        display: block;
        width: 0.32rem;
        height: 0.28rem;
        background: url(../images/tuhao-3_03.png) no-repeat;
        background-size: 100% auto;
        margin-top: 0.03px;
        margin-left: 0.09rem; }
      .main ul li p {
        width: 1.27rem;
        height: 0.35rem;
        line-height: 0.35rem;
        padding-left: 0.05rem; }
      .main ul li h5 {
        line-height: 0.35rem;
        font-size: 0.14rem;
        color: #ff8800; }
      .main ul li:nth-child(2) i {
        background-position: 0 -0.20rem; }
      .main ul li:nth-child(2) span {
        background-position: 0 -0.37rem; }
      .main ul li:nth-child(3) i {
        background-position: 0 -0.45rem; }
      .main ul li:nth-child(3) span {
        background-position: 0 -0.75rem; }
      .main ul li:nth-child(4) i {
        background-position: 0 -0.7rem; }
      .main ul li:nth-child(4) span {
        background-position: 0 -1.15rem; }
      .main ul li:nth-child(5) i {
        background-position: 0 -1.10rem; }
      .main ul li:nth-child(5) span {
        background-position: 0 -1.53rem; }
      .main ul li:nth-child(6) i {
        background-position: 0 -1.50rem; }
      .main ul li:nth-child(6) span {
        background-position: 0 -1.90rem; }
      .main ul li:nth-child(7) i {
        background-position: 0 -1.90rem; }
      .main ul li:nth-child(7) span {
        background-position: 0 -2.28rem; }
      .main ul li:nth-child(8) i {
        background-position: 0 -2.30rem; }
      .main ul li:nth-child(8) span {
        background-position: 0 -2.66rem; }
      .main ul li:nth-child(9) i {
        background-position: 0 -2.70rem; }
      .main ul li:nth-child(9) span {
        background-position: 0 -3.05rem; }
      .main ul li:nth-child(10) span {
        background-position: 0 -3.42rem; }
  .main .txt {
    height: 0.4rem;
    width: 100%;
    line-height: 0.4rem;
    text-align: center; }
  .main .btn {
    width: 2.88rem;
    height: 0.45rem;
    background: #ed5858;
    line-height: 0.45rem;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    margin: 0 auto;
    font-size: 18px;
    font-weight: bold; }

/*------------------------土豪榜分享----------------------------*/
.contain {
  -webkit-flex-grow: 1;
  width: 100%; }
  .contain p {
    width: 100%;
    height: 0.4rem;
    text-align: center;
    line-height: 0.3rem;
    font-size: 0.15rem;
    margin-top: 0.27rem; }
    .contain p span {
      color: #ff8800; }

.share {
  width: 100%;
  height: 1.56rem;
  border-bottom: 1px solid #f5f5f5;
  display: -webkit-flex;
  -webkit-flex-direction: row; }
  .share a {
    width: 33%;
    height: 1.56rem;
    display: block;
    text-align: center; }
  .share dl {
    padding: 0.37rem 0.2rem;
    font-size: 0.12rem; }
  .share img {
    width: 0.6rem;
    height: 0.6rem; }

/*# sourceMappingURL=style.css.map */
