@charset "UTF-8";
@import url(index.css);
@mixin full($h:100%){
	width:100%;
	height:$h;
	overflow:hidden;
}
@mixin flex($f:row){
	display:-webkit-flex;
	display:-o-flex;
	display:-moz-flex;
	-webkit-flex-direction:$f;
	-moz-flex-direction:$f;
	-o-flex-direction:$f;
}
input,select,textarea,button{
	-webkit-appearance:none;
	-moz-appearance:none;
	-o-appearance:none;
}
*,*:after,*:before{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
}
@mixin pos($val:relative){
	position:$val;
}
@mixin aa($w:33px,$h:33px,$url:"fan.png",$top:-16px){
			width:$w;
			height:$h;
			background-image:url("../images/"+$url);
			background-repeat:no-repeat;
			background-size:contain;
			font-size:0;
			top:50%;
			margin-top:$top;
}
html{
	font-size:100px;
}
html,body,.container{
	@include full;
}
a{
	text-decoration:none;
}

.container{
	@include flex(column);
	@include pos;
	overflow:hidden;
	left:100%;
	
}
.header{
	width:100%;
	height:0.45rem;
	background:#f6f6f7;
	@include pos;
	line-height:0.45rem;
	text-align:center;
	a{
		@include pos(absolute);
		width:0.21rem;
		height:0.18rem;
		&:nth-child(1){
			@include aa(0.21rem,0.18rem,"backBtn.png",-0.09rem);
			left:0.17rem;
		}
	}
		h4{
		width:100%;
		line-height:0.45rem;
		font-size:0.15rem;
	}
}

.main{
	-webkit-flex-grow:1;
	-moz-flex-grow:1;
	-o-flex-grow:1;
	background:#f3f4f6;
	}

	.con{
		width:95%;
		height:100%;
		margin:0 auto;
		background:#fff;
		div{
			width:100%;
			height:2.4rem;
			h4{
				width:100%;
				height:0.59rem;
				color:#fff;
				text-align:center;
				padding-top:0.1rem;
				background:#e8203b;
			}
			dl{
				width:100%;
				height:0.78rem;
				@include flex;
				dt{
					padding: 0.3rem 0.2rem;

					img{
						width:0.98rem;
						height:0.38rem;
					}
				}
				dd{
					padding-top: 0.20rem;
					padding-bottom:0.1rem;
				}
			}
			.pp{
				height:0.7rem;
				margin-top:0.2rem;
				padding-left:0.1rem;
				font-size:0.12rem;
				color:#7b7b7b;
				border-top:1px solid #ccc;
			}
			.sm{
					padding-bottom:0.1rem;
				}
		}
	}